.dashboard {
    font-size: 1.5em;
    font-weight: 600;
}
.d-grid {
    display: grid;
    grid-template-columns: 20% 80%;
}
select {
    padding: 6px 8px;
    border: 1px solid lightgray;
    color: rgb(83, 81, 81);
}

textarea {
    padding: 6px 8px;
    border: 1px solid lightgray;
}

.add-product-div {
    justify-content: space-between;
}
.add-product-div button {
    width: 150px;
    margin: 0;
}


select:hover ,textarea:hover{
    border: 1px solid blue
}