
.filter div {
    cursor: pointer;
}
.filter-section{
    font-weight: 600;
    position: sticky;
    top: 44px;
    background-color: aliceblue;
    color: rgb(133, 134, 136);
    box-shadow: 0px 5px 8px  rgba(167, 164, 164, 0.547);
}
.filter-icon{
    color: red;
    font-size: 1.0em;
}
.filter-section div div{
    padding-bottom: 3px ;
    transition: 0.5s;
    
    border-bottom: 2px solid rgba(170, 165, 165, 0);
    
}
.filter-section div div:hover{
    color: rgb(8, 111, 228);
    border-bottom: 2px solid rgb(7, 149, 238);
}
.remove{
    color: red;
    font-size: 20px;
    margin-top: 4px;
    padding: 0 !important;
}

