.login-container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   color: rgb(109, 107, 107);
}



.af-container{
    margin: 0 auto;
    width: 400px;
    margin-top: 80px;
}

button{
    width: 80px;
}

